body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background: linear-gradient(to bottom, #3498db, #2980b9);
  color: #fff;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
}

.center-image {
  display: block;
  margin: 20px auto; /* Añadido un espacio superior de 20px */
  max-width: 100%;
  height: auto;
}

.bottom-text {
  margin-bottom: 20px; /* Añadido un espacio inferior de 20px */
}

.bottom-text p {
  font-size: 1.2em;
  text-align: center;
}
