body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #3498db, #2980b9);
  color: #fff;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
}

.center-image {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Ajusta la anchura máxima de la imagen al ancho del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente según la proporción original de la imagen */
}
