body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffaa00, #ff8800); /* Degradado naranja */
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.content {
  text-align: center;
}

.center-image {
  display: block;
  margin: 20px auto; /* Espaciado superior de 20px y centrado horizontalmente */
  max-width: 100%;
  height: auto;
}

p {
  font-size: 0.8em; /* Tamaño de fuente más pequeño */
}
